<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Profile</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../assets/css/members.style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo white-text">cannabuddy</a>
      <ul class="right white-text hide-on-med-and-down">
        <li>
          <a href="/reviews" class="white-text">reviews</a>
        </li>
        <li class="member-access">
          <a href="/login" class="white-text">login</a>
        </li>
        <li class="member-access">
          <a href="/signup" class="white-text">register</a>
        </li>
        <li class="member-only">
          <a href="/logout" class="white-text logout">logout</a>
        </li>
        <li class="member-only">
          <a href="/members" class="white-text">profile</a>
        </li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav">
    <li>
      <a href="/reviews" class="black-text">reviews</a>
    </li>
    <li class="member-access">
      <a href="/login" class="black-text">login</a>
    </li>
    <li class="member-access">
      <a href="/signup" class="black-text">register</a>
    </li>
    <li class="member-only">
      <a href="/logout" class="black-text">logout</a>
    </li>
    <li class="member-only">
      <a href="/members" class="black-text">profile</a>
    </li>
  </ul>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <h1 class="header center green-text text-accent-4">Welcome
              <div class="member-name"></div>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div class="container">
    <div class="section">
      <div class="row center">
        <div class="col s12">

        </div>
      </div>
    </div>
  </div>



  <footer class="page-footer green accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="center-align white-text">cannabuddy bio</h5>
          <p class="center-align grey-text text-lighten-4">We love cannabis, buddy!</p>


        </div>

        <div class="col l6 s12">
          <h5 class="center-align white-text">Connect with us</h5>
          <ul class="center-align">
            <li>
              <a class="white-text" href="https://github.com/Tech-Creme-Brulee" target="_blank">Github</a>
            </li>
            <li>
              <a class="white-text" href="https://facebook.com/" target="_blank">Facebook</a>
            </li>
            <li>
              <a class="white-text" href="https://linkedin.com/" target="_blank">LinkedIn</a>
            </li>
            <li>
              <a class="white-text" href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
        Created by
        <a class="green-text text-accent-4" href="#">Creme Brulee, Inc</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>